#recuiment {
  margin: 0 auto;
  width: 1024px;
  font-weight: 700;
  color: #333333;

  #intro {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  #rule {
    margin-bottom: 40px;
  }

  ul {
    magin: 30px 0px;
    padding-left: 20px;
    list-style-type: disc;
    line-height: 30px;
  }

}
