#recuiment {
  margin: 0 auto;
  width: 1024px;
  font-weight: 700;
  color: #333333;

  .title {
    width: 180px;
    margin: 30px 0px;
    border-bottom: solid black;
  }

  #intro {
    margin-bottom: 40px;
  }

  .title h1 {
    margin: 5px;
    font-size: 32px;
  }

  h2 {
    margin: 5px;
    font-size: 20px;
  }

  ul {
    magin-top: 30px;
    padding-left: 20px;
  }
}
