#research {
  margin: 0 auto;
  width: 1024px;
  font-weight: 700;
  color: #333333;

  .title {
    width: 150px;
    margin: 30px 0px;
    border-bottom: solid black;
    h1 {
      margin: 5px;
      font-size: 32px;
    }
    h2 {
      margin: 5px;
      font-size: 20px;
    }
  }

  #research_direction_content {
    line-height: 24px;
    margin-bottom: 20px;
  }

  #sample_img {
    width: 100%;
    height: auto;
  }

  #divider {
    margin-top: 30px;
  }

  .journal_content_title {
    font-size: 20px;
    height: 22px;
    display: flex;
    padding: 10px 10px 0px 10px;
  }

  .journal_content {
    font-size: 16px;
    height: 17px;
    display: flex;
    padding: 10px 10px 10px 10px;
  }

  .column_1 {
    width: 10%;
  }

  .column_2 {
    width: 25%;
  }

  .column_3 {
    width: 20%;
  }

  .column_4 {
    width: 45%;
  }

}


