body{
    position: static;
    justify-items: center;
    width: 1366px;
    text-align: left;
}

#base {
    justify-items: center;
    width: 997px;
    height: 1300px;
    font-weight: 700;
    color: #333333;
}

.title {
    margin-top: 30px;
}

.title h1 {
    font-size: 32px;
    color: #333333;
    text-align: left;
    line-height: normal;
}

.title h2 {
    font-size: 20px;
    color: #333333;
    text-align: left;
    line-height: normal;
}

.u25_line {
    width: 128px;
    margin: 5px auto 15px 0px;
}

#research_direction_content {
    font-size: 16px;
    height: 119px;
    line-height: normal;
}

#u57_img {
    width: 997px;
    height: 683px;
}


#divider {
    margin-top: 30px;
}

#journal {
    float: right;
    width: 954px;
    height: 612px;
}

.journal_content_title {
    font-size: 20px;
    height: 22px;
    display: flex;
    padding: 10px 10px 0px 10px;
}

.journal_content {
    font-size: 16px;
    height: 17px;
    display: flex;
    padding: 10px 10px 10px 10px;
}

.column_1 {
    width: 10%;
}

.column_2 {
    width: 25%;
}

.column_3 {
    width: 20%;
}

.column_4 {
    width: 45%;
}

