.toipcs_member {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  .member {
    .member_li_01 {
      list-style: none;
    }
    .member_li_02 {
      list-style: none;
    }
  }
  .info {
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .title {
      font-size: 20px;
      font-family: 'PingFang TC Semibold', 'PingFang TC', 'Impact';
    }
    .content {
      font-size: 16px;
      font-family: 'PingFang TC Semibold', 'PingFang TC', 'Arial';
    }
  }
}
