#content{
  width: 1024px;
  height: auto;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
}

#contentHead{
  display: flex;
  flex-direction: column;
  background: white;
  div{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-bottom: solid;
    width: auto;
    h1{
      font-size: 36px;
      font-family: "Microsoft YaHei";
      color: #000000;
    }
    h2{
      font-size: 20px;
      font-family: serif;
      font-weight: bolder;
      color: #000000;
      margin: 5px;
    }
  }
}