#homeHeader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #0F1925;;
  width: 100%;
  height: 120px;

  h1 {
    font-family: 'Microsoft YaHei';
    font-size: 36px;
    font-weight: 500;
    color: #BFA959;
    padding-left: 50px;
  }

  h2 {
    margin: 5px;
    font-family: 'Arial';
    font-size: 24px;
    font-weight: bold;
    color: #BFA959;
    padding-left: 50px;
  }
}
