#homeNav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #BFA959;
  position: relative;

  ul {
    display: flex;
    align-items: center;

    li {
      padding: 0 5px;
      border-right: white solid 1px;
    }

    li:last-child{
      border: none;
    }
  }

  ul li a {
    text-decoration: none;
    color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-img {
      width: 20px;
      height: auto;

    }

    .news-word {
      display: flex;
      flex-direction: column;
      padding-bottom: 5px;
    }
  }

  ul li a:hover {
    padding-bottom: 2px;
    border-bottom: solid 3px;
    color: #FFFFFF;
    cursor: pointer;
  }

  ul li a > span:nth-child(odd) {
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
  }

  ul li a > span:nth-child(even) {
    margin-top: 10px;
    font-size: 14px;
    font-family: serif;
  }

  #logo {
    position: absolute;
    right: 20px;
    width: 66px;
    height: 66px;
  }
}
