 <div class="data-box" ng-repeat="memberItem in ctrl.memberList">
    <div class="left-img">
        <img ng-if="memberItem.img !=''" ng-src = {{memberItem.img}} alt=""/>
        <span ng-repeat="name in memberItem.name">{{name.text}}</span>
    </div>
    <div class="right-detail">
        <ul>
            <li ng-if="memberItem.email != ''">
                <span class="detail-title">E-mail</span>
                <span class="detail-content">{{memberItem.email}}</span>
            </li>
            <li ng-if="memberItem.graduate != ''">
                <span class="detail-title">畢業時間</span>
                <span class="detail-content">{{memberItem.graduate}}</span>
            </li>
            <li ng-if="memberItem.work != ''">
                <span class="detail-title">目前工作</span>
                <span class="detail-content">{{memberItem.work}}</span>
            </li>
            <li ng-if="memberItem.phone != ''">
                <span class="detail-title">Phone</span>
                <span class="detail-content">{{memberItem.phone}}</span>
            </li>
            <li ng-if="memberItem.study != ''">
                <span class="detail-title">研究題目</span>
                <span class="detail-content">{{memberItem.study}}</span>
            </li>
            <li ng-if="memberItem.interest != ''">
                <span class="detail-title">興趣</span>
                <span class="detail-content">{{memberItem.interest}}</span>
            </li>
            <li>
                <span class="detail-title">座右銘</span>
                <span class="detail-content" ng-repeat="motto in memberItem.motto">{{motto.text}} <br/><br/></span>
            </li>
        </ul>
    </div>
 </div>
