<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>professor</title>
    <link rel="stylesheet/less" href="../css/professor.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js"></script>
</head>
<body>

<div id="professor" class="content">
    <div class="title">
        <h1>主持人</h1>

        <h2>PROFESSOR</h2>
    </div>

    <div id="introduction">
        <div id="profile_img">
            <img src="img/profile_pic.png" alt="profile_pic.png"/>

            <p> {{ctrl.professor.nameCht}}</p>

            <p>{{ctrl.professor.nameEng}}</p>

            <p>{{ctrl.professor.rankEng}}</p>
        </div>
        <div id="profile_data">
            <div id="profile_main">

                <div id="profile_main_left">
                    <div>
                        <div><p>辦公室</p>

                            <p>Office</p></div>
                        <div><p>傳真</p>

                            <p>Fax</p></div>
                    </div>
                    <div>
                        <p>分子館3F</p>

                        <p>{{ctrl.professor.officePhone}}</p>

                        <p>{{ctrl.professor.fax}}</p>
                    </div>
                </div>
                <div id="profile_main_right">
                    <div>
                        <p class="font-size-20">研究室<br><span class="font-size-16">Laboratory</span></p>

                        <p class="font-size-20">信箱<br><span class="font-size-16">Email</span></p>
                    </div>
                    <div>
                        <p class="font-size-16 Arial">分子館3F<br>
                            <span class="font-size-16 Arial">
                                {{ctrl.professor.laboratoryPhone}} </span>>
                        </p>

                        <p class="font-size-16 Arial">{{ctrl.professor.email}}</p>
                    </div>
                </div>

            </div>

            <div id="address">
                <p class="font-size-20">地址<br><span class="font-size-16">Address</span></p>

                <div>
                    <p class="font-size-16 Arial" ng-repeat="address in ctrl.professor.addressLine">
                        {{address}}
                    </p></div>
            </div>
            <!--address end-->
        </div>
        <!--profile-content end-->
    </div>
    <!--introduction end-->
    <div class="title">
        <h1>研究興趣</h1>

        <h2>OUR FOCUS</h2>
    </div>
    <div id="focus">
        <p>{{ctrl.professor.focusCht}}</p>

        <p>{{ctrl.professor.focusEng}}</p>
    </div>

    <div class="title">
        <h1>教育/研究資歷</h1>

        <h2>Education and Professional Experience</h2>
    </div>
    <div id="experience">
        <ul>
            <li ng-repeat="experience in ctrl.professor.experiences">
                <p>{{experience}}</p>
            </li>
        </ul>
    </div>

    <div class="title">
        <h1>研究專長</h1>

        <h2>Research Interests</h2>
    </div>
    <div id="research">
        <ol>
            <li ng-repeat="researchInterest in ctrl.professor.researchInterests">
                <p>{{researchInterest}}</p>
            </li>
        </ol>
    </div>
</div>
</body>
</html>
