<div id="research" class="content">
    <div class="title">
        <h1>研究方向</h1>

        <h2>RESEARCH GOAL</h2>
    </div>
    <div id="research_direction_content">
        <ol>
            <li ng-repeat="goal in ctrl.research.goals">{{goal}}</li>
        </ol>
    </div>
    <img id="sample_img" src="img/research.jpg" alt="sample"/>

    <div ng-repeat="image in ctrl.research.images">
        <img class="full" src="{{image}}"/>
    </div>
    <ng-youtube-embed ng-repeat="video in ctrl.research.videos"
                      url="video"></ng-youtube-embed>
</div>