<div>
    <ul>
        <img class="marginTop30" src="img/u54_line.png"/>

        <div class="honor columnMargin">
            <h1>No.</h1>

            <h2>事蹟</h2>
        </div>
        <!--columnMargin end-->
        <img class="margin10" src="img/u73_line.png"/>

        <div class="honor column">
            <div ng-repeat="event in ctrl.honor.students.events" class="row">
                <h1>{{$index + 1}}</h1>
                <h2>{{event}}</h2>
            </div>
            <!--row end-->
        </div>
        <!--column end-->
    </ul>
</div>
<div ng-repeat="photo in ctrl.honor.students.photos">
    <img ng-src="{{photo}}" alt="" style="width: 1000px;">
</div>
